:bb-hud-enh {
  position: 'block';
}

.bb-hud-enh-remembrall-button {
  position: absolute;
  top: 15px;
  left: 222px;
  z-index: 23;
  width: 20px;
  height: 20px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAQAAAAngNWGAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBgkNBw7FMYKQAAABFElEQVQoz53SvS5EURQF4G+mGCLx02mnQDkUCgWRoNVKPICGhhYPIaHBAwjzDkMi8QRCoVAOEiaG0NmKO/fOuIaEfZq99l5n7Z9z+JdNOnTj3atrBxa6k8acidw5M5qnTWsIdZsqepRUbLkXnsx00kY0hGP9Xy4POBEejbRDNeFI8Vs7RcfCaQpnhbqBLB0i8wfVhXmKWMauZtcRn+1hKQEXQqUj2anIuHCduA9C74/EPqGZlC6hgHJHeiXzCu3gpVBRdtvC6z58WG2hCeEqUbzAmtNMcccGhltoEeft9USus6lsPXfCXALK3r4R04VXhVpKu+2iCEOq+SfMW59x2+6Ex6+fIm9phdpvavDiyn46wh/tE5uVY811cdV8AAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE4LTA2LTA5VDEzOjA3OjE0KzAwOjAweWHOTgAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxOC0wNi0wOVQxMzowNzoxNCswMDowMAg8dvIAAAAASUVORK5CYII=);
}

.bountifulBeanstalkCastleView__noiseMeterArrow {
  font-size: 15px;
  position: absolute;
  left: 0;
  transform: translate(-50%, -25%);
  transition: left 0.8s ease;
}

.bountifulBeanstalkCastleView__noiseMeterArrow--projectedMin {
  -webkit-text-stroke: 0.5px black;
  color: rgb(55, 209, 55);
}

.bountifulBeanstalkCastleView__noiseMeterArrow--projectedAvg {
  -webkit-text-stroke: 0.5px black;
  color: yellow
}

.bountifulBeanstalkCastleView__noiseMeterArrow--projectedMax {
  -webkit-text-stroke: 0.5px black;
  color: red;
}
.harpMeIn__buttonContainer .mousehuntTooltip,
.harpMeOut__buttonContainer .mousehuntTooltip {
  width: 200px;
  bottom: 16%;
  transform: translateX(-95px);
  text-align: center;
}
